body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
}




.StepperStyle .MuiStep-horizontal .MuiStepLabel-horizontal{
  flex-direction: column !important;
  align-items: center;
}
.MuiStepLabel-labelContainer{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

button{
  border: none;

  background-color: transparent;
  color: #7244C8;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.PhoneInput{
  border: 1px solid #D0D5DD;
  background-color: #F9FAFB;
  width: 360px;
  height: 44px;
}

.PhoneInput  .PhoneInputCountry{
  padding-left: 15px;
}

.PhoneInput .PhoneInputInput{
  border: none !important;
  background-color: transparent;
}
.MuiTextField-root{
  width: 360px !important;
}

.URLend{
  background-color: #FFFFFF;
  border-left: 1px solid #D0D5DD;
  width: 100%;
  padding: 9px;
  position: relative;
  left: 13px;
  font-size: 14px;
  font-weight: 600;
  color: #344054;
}

 .ReactInputVerificationCode__item {
  position: relative;
  color: #7244C8;
  font-weight: 500;
}


 
 .ReactInputVerificationCode__item.is-active {
  border: 3px solid #7244C8;
  box-shadow: none !important;

}
.ReactInputVerificationCode__item{
  border-radius: 8px;
}
.ReactInputVerificationCode__item.is-filled{
  font-size: 48px;
  color:#7244C8 ;

}

.BackLogBtn{
  margin-top: 20px;
  color: #475467;
  font-size: 14px;
  font-weight: 600;

}

.imageContainer{
  background:url("../public/images/Hinterrhein\ 1\ \(1\).svg"),linear-gradient(90deg, rgba(51,37,82,1) 0%, rgba(113,77,191,1) 100%);
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
position: relative;

}
.imageContainer::before{
  content: "";
  display: block;
  position: absolute;
  background-image: url("../public/images/Hand-drawn\ arrow.svg");
  
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 38%;
  height: 32%;
  top: 66%;
    right: 78%;
    transform: rotate(349deg);

}
.imageContent{
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 24%;
    left: 8%;
    width: 100%;
    max-width: 70%;

}


.imageContent h1{
  font-size: 60px;
  color: white;

}
.imageContent p{
  font-size: 18px;
  color: white;

}